/*General setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main*/
.container {
  width: 50%;
  margin: 10px auto;
}
img {
  width: 30%;
}
.text-box {
  width: 30%;
  height: 80px;
  display: inline-block;
}
.text-box > span {
  display: block;
}
.brand {
  color: gray;
  font-size: 10px;
}
.info {
  font-weight: bold;
}
.price {
  font-size: 10px;
  color: red;
}
.cancelled-price {
  color: gray;
  font-size: 10px;
}
