/*General setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main*/
.container {
  width: 50%;
  margin: 10px auto;
}
/*Card elements*/
.card {
  display: inline-block;
  width: 30%;
  position: relative;
}
img {
  width: 100%;
}
/*Text-box elements*/
.text-box {
  width: 30%;
  height: 60px;
  display: inline-block;
  line-height: normal;
}
.brand,
.info {
  display: block;
}
.brand {
  color: gray;
  font-size: 10px;
}
.info {
  font-size: 12px;
  font-weight: bold;
}
.price {
  font-size: 10px;
  color: red;
}
.cancelled-price {
  color: gray;
  font-size: 10px;
  text-decoration: line-through;
}
/* Image hover */
.card img:last-child {
  display: none;
}
.card:hover img:first-child {
  display: none;
}
.card:hover img:last-child {
  display: inline-block;
}
/*Heart hover*/
.heart {
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: white;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}
.card:hover .heart {
  color: red;
}
/*Details discount and eco */
.details {
  position: absolute;
  bottom: 15px;
  font-size: 9px;
  color: white;

  font-weight: bold;
}
.discount {
  background-color: red;
  padding: 2px;
}
.eco {
  background-color: green;
  padding: 2px;
}
